In [1]:
import sqlite3

In [2]:
db_file='less21.db'
conn=sqlite3.connect(db_file)

In [3]:
crs=conn.cursor()

In [4]:
crs.execute('SELECT 1 a, 2 b UNION ALL SELECT 3,4')

In [5]:
crs.fetchone()

(1, 2)

In [6]:
crs.fetchone()

(3, 4)

In [7]:
crs.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None))

In [8]:
crs.close()

In [9]:
import pandas as pd

sql='''
SELECT 5 a, 6 b
UNION ALL
SELECT 7, 8
'''

with sqlite3.connect(db_file) as cn:
    df=pd.read_sql(sql, cn)
df

   a  b
0  5  6
1  7  8