In [1]:
import warnings

warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [2]:
df=pd.read_csv('data30.csv')
df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.500,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.000,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.000,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.000,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3086995,0,2005989,55.385,C,2256,545.0,185.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,3086996,0,2006074,117.000,W,2518,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,3086997,0,2006135,50.000,S,2748,111.0,150.0,visa,228.0,...,0.0,0.0,125.0,75.0,0.0,125.0,75.0,0.0,0.0,0.0
99998,3086998,0,2006177,100.000,H,16075,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99999,3086999,0,2006364,107.950,W,4436,174.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ttt=df.isnull().sum()
ttt

TransactionID         0
isFraud               0
TransactionDT         0
TransactionAmt        0
ProductCD             0
                  ...
V335              68229
V336              68229
V337              68229
V338              68229
V339              68229
Length: 394, dtype: int64

In [4]:
print(f' #Count non-Null cells = {ttt.sum()}')

 #Count non-Null cells = 15550955

In [5]:
print(f' #Count non-Null row = {ttt.astype(bool).sum() }')

 #Count non-Null row = 319

In [42]:
# df1=df.copy()
# lis=[]
# k=0
# for i in df1.columns:

# #    lis.append(i)
#      if df1[i].isin([404.0]): k+=1

# print(k)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test=train_test_split(df
    [[ 'TransactionAmt', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1']],
                                  train_size=0.7, shuffle=True, random_state=1)

y_train, y_test=train_test_split(df['isFraud'], train_size=0.7, shuffle=True, random_state=1)

print(f'x_train = {len(x_train.axes[0])} rows, {len(x_train.axes[1])} columns')
print(f'x_test = {len(x_test.axes[0])} rows, {len(x_test.axes[1])} columns')

x_train = 70000 rows, 17 columns
x_test = 30000 rows, 17 columns

In [8]:
x_train

,TransactionAmt,card1,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1
80630,47.95,12695,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,12.0,1.0,385.0
62017,25.00,6054,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
5005,52.00,4436,108.0,94.0,0.0,0.0,145.0,64.0,0.0,0.0,58.0,0.0,66.0,0.0,398.0,89.0,251.0
56849,34.95,1939,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,1.0,1.0,218.0
42434,300.00,7164,2.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50057,20.00,12839,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
98047,47.95,14628,6.0,3.0,0.0,0.0,3.0,4.0,0.0,0.0,3.0,0.0,2.0,0.0,13.0,6.0,55.0
5192,52.95,14858,4.0,5.0,0.0,0.0,3.0,3.0,0.0,0.0,2.0,0.0,3.0,0.0,9.0,3.0,13.0
77708,100.00,18246,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
98539,34.00,7508,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0

In [9]:
pipeline=Pipeline(
    steps=[
        ('scaling', StandardScaler()),
        ('model', LogisticRegression(random_state=27))
    ]
)

pipeline.fit(x_train, y_train)

Pipeline(steps=[('scaling', StandardScaler()),
                ('model', LogisticRegression(random_state=27))])

In [10]:
train_score=roc_auc_score(y_train, pipeline.predict_proba(x_train)[:,1])
test_score=roc_auc_score(y_test, pipeline.predict_proba(x_test)[:,1])

print(f'train_score={round(train_score, 3)}, test_score={round(test_score, 3)}')

train_score=0.712, test_score=0.711

In [11]:
x_train, x_valid=train_test_split(df
    [[ 'TransactionAmt', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1']],
                                  train_size=0.5, shuffle=True, random_state=1)

y_train, y_valid=train_test_split(df['isFraud'], train_size=0.5, shuffle=True, random_state=1)

x_valid, x_test=train_test_split(x_valid, train_size=0.5, shuffle=True, random_state=1)

y_valid, y_test=train_test_split(y_valid, train_size=0.5, shuffle=True, random_state=1)

print('x_train.shape= {} rows, {} cols'.format(*x_train.shape))
print('x_valid.shape= {} rows, {} cols'.format(*x_valid.shape))
print('x_test.shape= {} rows, {} cols'.format(*x_test.shape))

x_train.shape= 50000 rows, 17 cols
x_valid.shape= 25000 rows, 17 cols
x_test.shape= 25000 rows, 17 cols

In [12]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('scaling', StandardScaler()),
                ('model', LogisticRegression(random_state=27))])

In [13]:
train_score=roc_auc_score(y_train, pipeline.predict_proba(x_train)[:,1])
valid_score=roc_auc_score(y_valid, pipeline.predict_proba(x_valid)[:,1])
test_score=roc_auc_score(y_test, pipeline.predict_proba(x_test)[:,1])

print(f'train_score={round(train_score, 5)}, valid_score={round(valid_score, 5)}, test_score={round(test_score, 5)}')
print(f'valid_score - test_score={(round(valid_score, 5)-round(test_score, 5))}')

train_score=0.70613, valid_score=0.70558, test_score=0.7167
valid_score - test_score=-0.011120000000000019

In [14]:
%%time
from sklearn.model_selection import KFold, cross_val_score

kfold=KFold(n_splits=5, shuffle=True, random_state=27)

cv= cross_val_score(estimator=pipeline, X=df[[ 'TransactionAmt', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1']],
                    y=df['isFraud'], scoring='roc_auc',cv=kfold)

print(f'CV-results: {round(np.mean(cv),4)} +/- {round(np.std(cv),4)}')

CV-results: 0.6938 +/- 0.0215
Wall time: 3.31 s

In [15]:
%%time
from sklearn.model_selection import StratifiedKFold

skfold=StratifiedKFold(n_splits=5, shuffle=True, random_state=27)

cv= cross_val_score(estimator=pipeline, X=df[[ 'TransactionAmt', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1']],
                    y=df['isFraud'], scoring='roc_auc',cv=skfold)

print(f'CV-results: {round(np.mean(cv),4)} +/- {round(np.std(cv),4)}')

CV-results: 0.6905 +/- 0.0116
Wall time: 3.39 s